*{
    margin: 0px;
    font-size: large;
    font-family: sans-serif;
    font-style: normal;
    

}
p{
    font-weight: bold;
}
.pera{
    color: rgb(25, 1, 1);
    background-color: rgb(216, 234, 250);
    border: 2px black solid;
}